<!doctype html>
<html>
	<head>
		<title>Timeless Time Tracker</title>
	</head>
	<body>
		<div class="entryForm">
			<table>
				<thead>
					<tr>
						<th>Week Of</th>
						<th>Monday</th>
						<th>Tuesday</th>
						<th>Wednesday</th>
						<th>Thursday</th>
						<th>Friday</th>
						<th>Total Hours</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<form method="post" action="updateTime">
							<input autofocus required name="weekOf" type="text" placeholder="mm/dd/yyyy" value={{currentWeek.weekOf}}>
							<input name="monHours" type="number" step="0.1" value={{currentWeek.monHours}}>
							<input name="tueHours" type="number" step="0.1" value={{currentWeek.tueHours}}>
							<input name="wedHours" type="number" step="0.1" value={{currentWeek.wedHours}}>
							<input name="thuHours" type="number" step="0.1" value={{currentWeek.thuHours}}>
							<input name="friHours" type="number" step="0.1" value={{currentWeek.friHours}}>
							{{currentWeek.totalHours}}
							<button name="action" value="update">Update</button>
							<button name="action" value="submit">Submit</button>
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>